.nav {
    height: 13.5vh; width: 100vw; background-color: rgba(95, 86, 233, 0.863);
}

.nav1{
    font-weight:bold; color:white;font-size: 1.8em; padding: 2px; align-items: start;
}

.nav2{
    font-weight:bold; color:white;font-size: 01em; padding: 2px;
}

.logbox {
    height: 86.5vh;background: rgb(243, 234, 234);
}

.start{
    height: 80vh;background-color: rgb(255, 255, 255);
}

.start1{
    font-weight: bold;font-size: 1.5em;padding: 4px;
}

.field{
    color:rgb(64, 64, 250);
}