<div class="container-fluid">
    <div class="row justify-content-center align-items-center "
        style="height: 47vh; background:white ;background: url(assets/contact.jpg);background-repeat: no-repeat;background-position: center;">
        <h1>About Us</h1>
        <p>AB Packers Movers is a Mharashtra based company, rendering professional packing and moving services all
            over India for all your packing and moving needs.

            We take utmost care offering high-end packing and moving services at reasonable prices. All our staffs are
            courteous, experienced, and prudent. We offer personalized service for any kind of relocation whether it is
            local, domestic and Global.</p>

        <p> We are Specialist in Packing and Moving services, House Relocations, Corporate Relocations, Car
            transportation Services, Premium Moving Services and Ware Housing.

            We provide relocation services at genuine and reasonable price that is hardly met by other expert Packers
            and Movers in Chennai or packing moving companies in India. We have 22 years of experience in the field of
            relocation and transportation industry; thus providing right solutions for different packing and moving
            needs. Our Packers and Movers, Chennai services are available for all relocations such as local household,
            office cargo shifting, industrial goods shifting and long distance housing or commercial relocations etc. If
            you are truly concerned to make your move simple and smooth, our services will cater your curiosity. So,
            schedule your move with us and turn the moving into a pleasant experience.</p>
    </div>
    <div class="row justify-content-center align-items-center" style="height: 6vh; background:rgb(125, 125, 241);">
        <h2>Our Team</h2>
    </div>
    <div class=" row justify-content-between align-items-center" style="height: 47vh;background:rgb(88, 147, 223)">
        <div class="col-3">
            <h3 style="color: brown;">Abhijit Bhosale</h3>
            <h4>9175404076</h4>
            <h4>abhirajebhosale3672@gmail.com</h4>
            <h4 style="background-color:rgb(72, 72, 156);"> Contact</h4>
        </div>
        <div class="col-3">
            <h3 style="color: brown;">Bhushan Patil</h3>
            <h4>8668836419</h4>
            <h4>bhushanpatil310311994@gmail.com</h4>
            <h4 style="background-color:rgb(72, 72, 156);"> Contact</h4>
        </div>
        <div class="col-3">
            <h3 style="color: brown;">AB Mover & Packers</h3>
            <h4>7499020414,9405876419</h4>
            <h4>movers&packers7@gmail.com</h4>
            <h4 style="background-color:rgb(72, 72, 156);"> Contact</h4>
        </div>
    </div>
</div>