<div class="start col-12 col-md-12 mt-2 d-flex flex-column justify-content-between align-items-center "
    [formGroup]="myfbGroup"
    style="height: 80vh;background:url(assets/home.jpg); background-repeat: no-repeat; background-position: center;background-size: cover;">

    <div class="start1 row d-flex ">
        <!--style="font-weight: bold;font-size: 1.5em;padding: 4px;"-->Login Here</div>

    <div class="row d-flex mt-2">
        <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-envelope-fill" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z" />
        </svg>
        <input type="email" placeholder="EMAIL*" formControlName="email" style="height: 3em;">
        <label style="color:red; height: 3em;" *ngIf="
                myfbGroup.get('email').invalid &&
                myfbGroup.get('email').touched ">*Required</label>
    </div>

    <div class="row">
        <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-eye-fill" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
            <path fill-rule="evenodd"
                d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
        </svg>
        <input type="password" placeholder="PASSWORD*" formControlName="password" style="height: 3em;">
        <label style="color:red" *ngIf="
                myfbGroup.get('usermobile').invalid &&
                myfbGroup.get('usermobile').touched ">*Req8 Digit</label>
    </div>

    <div class="row">
        <button [disabled]="!myfbGroup.valid" (click)="validation()"
            style="width: 220px;background-color: darkcyan; height: 3em;">LOGIN</button>
    </div>
    <div class=" field row">
        <!-- style="color:rgb(64, 64, 250);"-->
        *fields are Required
    </div>
</div>