<div class="container-fluid">
    <div class="p1 row justify-content-center align-items-center bpinfo" style="height: 50vh;">
        <!--<div class="col-6 col-md-12 justify-content-center align-items-center">-->
        <h2> Office Shifting</h2>
        <p>Corporate Relocation is most challenging service in the Packing and Moving service, The Corporate
            Relocation has to be analysed by an Packing and Moving Expert, then report to be arrived, fix the
            day and then shift. The process may look simple and easy, but it requires lot of experience in
            moving the corporate. There will be more equipments which are highly sensitive, Furniture may be
            custom made, interior partitions , electrical equipments e.t.c, these items has to be removed and
            safely packed with the proper packing materials and then loaded in the containers with proper way,
            according to the value and description of the item (may be fragile also). The Corporate Relocation
            can be planned any day according to the convenience of the organisation as the plan of the
            relocation will happen only with the help of the corporate coordinator for planning the Packing of
            the Items.</p>
        <p>AB Packer and Movers are the most preferred packers and movers for the Corporate relocation in
            India, This was possible in the Packing and Moving industry of India only by the excellent service
            rendered by AB Packers and Movers to the Corporate giants of India. </p>
    </div>


    <div class="p2 row justify-content-center align-items-center " style="height: 50vh; background: rgb(88, 147, 223);">
        <h2> House Shifting</h2>
        <p> AB Packers and Movers have already serviced 1lak House relocation's in the spam of just 9yrs. The House
            Relocation is the most critical service for the Indian houses, as there are plenty of small house hold items
            has to be packed, loaded , transported , unloaded and unpacked. Every single articles at the home has its
            own value which is attached to our daily life. We the team Chennai Packers and Movers understand every
            single value of your belongings and built a team which can relocate your house " As it is ". We use a
            Special packing materials for every packing and moving services, we are specialist in taking care of your
            smallest things to the high value things. We use Bubble sheet , cardboard boxes, corrugated sheet, Stretch
            film roles, thermocol sheets, paper cuttings e.t.c for packing your valuables.</p>
        <p>When you have a House relocation Service, AB Packers and Movers are the only reliable choice to cater
            to your exact requirement and serve you in time.

            We wish you Happy Moving!</p>
    </div>

</div>